*{ /*Applies to all*/
    margin:0;
    padding:0;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
}

hero h1{
    text-align: center;
}

.logo{
    height: 50px;
    content:url(img/logo.png);
}

.header-image{
    content:url(img/headerBG.jpg);
}

.hero-section {
    width:100%;
    height:calc(100vh - 75px);
    background: url('img/headerBG.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    color:white;
    text-shadow:2px 2px #333;
    text-align: center;
}

.hero-section h1 {
    margin-top: 300px;
    font-size: 50px;
}

.hero-section h5 {
    margin-top: 10px;
}

.hero-button{
    margin-top: 20px;
}